@model VeterinariaSystem.Models.Veterinario
@{
    ViewData["Title"] = "Editar Veterinario";
}
<h1>Editar Veterinario</h1>

<form asp-action="Editar">
    <input type="hidden" asp-for="Id" />
    
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Apellido"></label>
        <input asp-for="Apellido" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DNI"></label>
        <input asp-for="DNI" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Matricula"></label>
        <input asp-for="Matricula" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
